<!DOCTYPE html>
<html>
    <head>
        <title>QuickCommand</title>

        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://use.typekit.net/kij1iik.css">
        <link rel="stylesheet" href="./assets/style.css">
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
        <script>var exports = {};</script>
        <script type="module" src="./assets/frontend.js"></script>
        <script type="module" src="./assets/script.js"></script>
    </head>
    <body>
        <main class="QuickCommand_main">
            <div class="QuickCommand_SearchBar">
                <div class="QuickCommand_Logo">Commandist</div>
                <input class="QuickCommand_SearchBar_Input" id="SearchBar" type="text" placeholder="QuickCommand">
            </div>
            <ul class="QuickCommand_Results" id="Results">
                
            </ul>
        </main>
    </body>
</html>