<!doctype html>
<html>
    <head>
        <title>QuickCommand UI</title>
        <link rel="stylesheet" href="./assets/ui.css">
        <script src="./assets/ui.js"></script>
    </head>
    <body>
        <div class="qc">
            <input class="input" placeholder="QuickCommand" />
        </div>
        <ul class="results">
            <li class="result">
                <h1>Text</h1>
                <p>Text</p>
            </li>
            <li class="result">
                <h1>Text</h1>
                <p>Text</p>
            </li>
            <li class="result">
                <h1>Text</h1>
                <p>Text</p>
            </li>
        </ul>
    </body>
</html>